
.app-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 1rem;

  .content-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: flex-start;

    .menu {
      width: 20%;
      background-color: #efefef;
      box-sizing: border-box;
      padding: 1rem;
      min-height: 50vh;

      ul li {
        padding-bottom: 1rem;
        a {
          outline: none;
        }
      }
    }

    .content {
      flex-grow: 1;
      box-sizing: border-box;
      padding: 1rem;
    }
  }
}
