@import "./../node_modules/breakpoint-sass/stylesheets/breakpoint";

// GLOBAL
$gutter: 12px;

// CONFIGURE BREAKPOINTS
$min-big-desktop-width: 1280px;
$min-desktop-width: 1025px;
$min-tablet-width: 770px;

$breakpoint-large-desktop: min-width $min-big-desktop-width; // > 1280px
$breakpoint-desktop: max-width $min-big-desktop-width - 1px; // < 1280px
$breakpoint-tablet: max-width $min-desktop-width - 1px; // < 1025px
$breakpoint-mobile: max-width $min-tablet-width - 1px; // < 769px
$breakpoint-since-desktop: min-width $min-desktop-width;
$breakpoint-since-tablet: min-width $min-tablet-width; // >= 770px
$breakpoint-exclusive-mobile: max-width $min-tablet-width - 1px; // Only mobile range
$breakpoint-exclusive-tablet: (min-width $min-tablet-width) (max-width $min-desktop-width - 1px);
$breakpoint-exclusive-desktop: $breakpoint-since-desktop;
$breakpoint-xmobile: max-width 420px;
$breakpoint-mobile-iphone5: max-width 320px;


@import "reset";
@import "modules/common";
@import "modules/layout";
