<template lang="pug">
  span Playground
</template>

<script type="text/javascript">

export default {
  name: "Playground",
  data() {
    return {
    }
  }
}
</script>

<style scoped lang="scss">
</style>
