<template lang="pug">
  .app-wrapper
    h1 {{app}} test app
    .content-wrapper
      .menu
        ul
          li
            router-link(:to="{name: 'Root'}") Home
          li
            router-link(:to="{name: 'Playground'}") Playground
      .content
        router-view
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'App',
  computed: {
    ...mapState(['app'])
  },
  created() {
    this.$store.dispatch("setApp", "Sohace")
  }
}
</script>

<style lang="scss">
@import "./styles/index";
</style>
